@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato',
sans-serif;

$verydark: #4E4E4E;
$dark:#dfdfdf;

.show{
    display:none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $font;
    font-size:20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    z-index: 2;
    background: $dark;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 70px;
    color: #000;
    font-size: 1.2em;
}

#dropdown-icon {
    max-width: 60px;
    max-height: 60px;
    margin: auto 20px;
    cursor: pointer;
    padding: 5px;
}

#register-btn{
    position:relative;
    display:inline-block;
    width:100px;
    height:70%;
    margin:auto 10px;
    padding:5px;
}

#main-container {
    margin:70px 0px;
    position: absolute;
    height:79%;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f3;
    font-family: $font, sans-serif;
}

#chat-body{
    display: block;
    flex-direction: column;
    width: 60%;
    height: 95%;
    margin:auto 2px;
    background-color: #EAEAEA;

}

#users-wrapper{
    display:inline-block;
    height:90%;
    width: 140px;
    border:1px solid;
    background-color: #EAEAEA;  
    margin: 10px;
    padding: 5px;
}

#chat-wrapper{
    position:relative;
    background-color: white;
    border: 1px solid rgb(177, 193, 213);
    height:82%;
    padding:2px;
    overflow-y: scroll;
}

.chat-message-container{
    position: relative;
    display: flex;
    height: auto;
    min-height:50px;
    padding: 2px 3px;
    border: 1px solid #bfd8d5;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
}

.avatar{ 
    margin:2px 5px 3px 0px;
    max-width:30px;
    max-height:30px;
    position:absolute;
}

.chat-message-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width:100%;
    margin-left: 35px;
    overflow: hidden;
    padding: 2px;
}
.chat-message-header{
    font-size:0.60em;
    position:relative;
    padding:1px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
    max-height:18px;
    margin:3px auto;
}

.user-name{
    margin: auto 3px;
    color: rgb(59, 89, 152);
}

.send-date{
    color:#666666;
    font-size:1em;
    margin: 0px 4px;
}

.chat-message-body{
    font-size:0.6em;
    position:relative;
    display: inline-block;
    padding:2px;
    overflow-wrap: break-word;
    width:100%;
    height: auto;
}

#input-wrapper{
    position:relative;
    display:flex;
    width:96%;
   margin: 4px auto;
    padding: 4px;
    height:15%;
    bottom:0;
    justify-content: space-around;
}

#input-text-area{
    margin:auto 10px;
    width:80%;
    height:90%;
    resize: none;
    font-size:0.7em;
}

#send-btn{
    cursor: pointer;
    float: right;
    width: auto;
    min-width:100px;
    height: 50px;
    font-size:1.2em;
    margin: auto 10px;
    color: #fff;
    background-color: #4b79A1;
    border: 1px solid #4b79A1;
    padding: 0px 10px;
}


#register-form {
    z-index: 10;
    width: 60%;
    margin: 0px 20%;
    background-color: #EAEAEA;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}



.post-message{
    position: relative;
    float: right;
    border-radius: 4px;
    width: auto;
    height: auto;
    font-size: 1.05em;
    margin: 5px;
    padding:4px;
}

.footer img {
    max-width: 30px;
    max-height: 30px;
    transition: max-width 1s, max-height 1s, transform 1s;
    &:hover {
        max-width: 50px;
        max-height: 50px;
        transform: rotate(10deg);
    }
}

.footer {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom:0;
    left:0;
    text-align: center;
    font-size:0.8em;
    background-color: #212529;
}

@media screen and (max-width:600px) {
    #usersDD{
        display:block;
    }
    #chat-body {
        width: 90%;
    }

    #users-wrapper{
        position: absolute;
        height:auto;
        max-height: 300px;
        min-height: 150px;
        overflow-y: scroll;
        left:20%;
    }

    .header{
        justify-content:  space-between;
    }
}